<nav class="navbar" [class.white-mode]="isWhiteMode">
  <ul>
    <li class="logo-link">
      <a class="km" href="https://hellokelci.github.io" target="_blank">km</a>/ahb
    </li>
    <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="/init" routerLinkActive="active-link">Init</a></li>
    <li><a routerLink="/concepts" routerLinkActive="active-link">Concepts</a></li>
    <!-- <li><a routerLink="/dictionary">Dictionary</a></li> -->
    <!-- <li><a routerLink="/faqs">FAQs</a></li> -->
    <li><a href="https://www.github.com/hellokelci/angular-handbook" target="_blank">GitHub</a></li>
  </ul>
</nav>