:host {
    --border_radius: 12px;
    --blur_strength: 15px;
}

nav {
    border: 1px solid #ffffff5f;
    /* border: 3px solid orange; */
    position: sticky;
    top: 10px;
    width: 70%;
    margin: 0 auto 2rem;
    user-select: none;

    padding: 0 1rem;
    isolation: isolate;
    box-shadow: 0px 0px 21px -8px rgba(255, 255, 255, 0.3);

    border-radius: var(--border_radius);
    z-index: 1000;
    color: black;
    transition: color 0.3s ease;
}

nav::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  box-shadow: inset 0 0 14px -4px rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0);
  pointer-events: none;

  border-radius: var(--border_radius);
}

nav::after {
    content: '';
    position: absolute;

    inset: 0;
    z-index: -1;
    backdrop-filter: blur(var(--blur_strength));
    -webkit-backdrop-filter: blur(var(--blur_strength));
    filter: url(#glass-distortion);
    -webkit-filter: url(#glass-distortion);
    isolation: isolate;
    pointer-events: none;

    border-radius: var(--border_radius);
}

nav.white-mode {
    color: white;
}

nav ul {
    display: flex;

    align-items: center;
    gap: 1.8rem;

    width: 100%;
    padding: 0;
    list-style: none;
}

nav ul li {
    font-family: 'B612 Mono', monospace;
    font-size: 0.8rem;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo-link {
    margin-right: auto; 
    font-family: "Zalando Sans Expanded", sans-serif!important;
    font-size: 1rem!important;
    font-weight: 400!important;

}

.logo-link .km:hover, .logo-link .ahb:hover {
    color: #53D0FA;
    transition: color 0.3s ease;    
}

nav ul li a.active-link {
  color: #F5AD01; /* Or any color you prefer */
  /* font-weight: bold; */
}

nav ul li a:hover {
    color: #53D0FA;
    transition: color 0.3s ease;
}