.container-app {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: auto;
    /* border: 3px solid rgb(162, 102, 246); */

    height: fit-content;
    /* min-height: 100vh; */
}