:host {
    --electric_blue: #121CF7;
    --electric_pink: #CF03A2;
    --electric_purple: #7808EC;
    --electric_yellow: #F5AD01;
    --electric_cyan: #1BFFC6;
}


.img-hero {
    width: 100%;
    height: auto;

    display: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    position: absolute;
    /* object-fit: cover; */
    height: 650px;
}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Zalando Sans", sans-serif;
    color: #fff;

    /* border: 4px solid orange; */

    width: clamp(1000px, 1000px, 1000px);
    margin: 0 auto 1rem;
}

.container-hero h1 {
    font-weight: 300;

    width: 55%;
    text-align: center;
    margin: 1rem auto 3.5rem;
}

.group-video-items {
    display: flex;
    gap: 3rem;
    margin: 0 0 3.5rem;
}

.group-video-items img {
    width: 30rem;
    height: auto;

    flex-shrink: 1;
    user-select: none;

    cursor: no-drop;
}

.group-video-items p {
    font-family: "B612 Mono", monospace;
    color: #f7f7f7;

    line-height: 1.8rem;
    flex-shrink: 1;
    font-size: 2vw;
    font-size: clamp(0.5rem, 2vw, 1.6rem);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}

.group-buttons {
    display: flex;
    /* border: 3px solid red; */
    gap: 20px;

    margin: 0 auto;
}

.group-buttons button {
    border: none;
    border-radius: 3px;
    padding: 0.7rem 3rem;

    font-size: 1rem;
    cursor: no-drop;
    font-family: "Zalando Sans", sans-serif;
}

.button-getting-started {
    background-color: #0F0F11;
    color: #fff;
}

.button-learn-more {
    background-color: #fff;
    color: #0F0F11;
}

.container-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 0.3fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    width: 90%;
    margin: 6rem auto 4rem;
    /* border: 3px solid red; */
    height: fit-content;
    user-select: none;
}

.container-stats div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 10px 15px;
}

.container-stats h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 4rem;
    margin: 0;
}

.container-stats p {
    margin: 0;
    font-family: "Zalando Sans", sans-serif;
    font-size: 0.8rem;
}

.stat-1 {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--electric_blue);
    color: var(--electric_cyan);

    border-radius: 5px 90px 5px 5px;
}

.stat-2 {
    grid-area: 1 / 2 / 2 / 3;
    border: 3px solid var(--electric_purple);
    color: var(--electric_purple);
    border-radius: 5px;
}

.stat-3 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--electric_yellow);
    color: #fff;
    border-radius: 5px;

}

.stat-4 {
    grid-area: 1 / 3 / 3 / 4;
    background-color: var(--electric_pink);
    border-radius: 5px;
}

.stat-4 img {
    width: 300px;
    border-radius: 5px;
}

.stat-5 {
    grid-area: 1 / 4 / 3 / 5;
    background-color: var(--electric_cyan);
    color: var(--electric_pink);
    border-radius: 5px 90px;
}

.style-active-link {
    color: #fff;
}