@font-face {
    font-family: 'Zalando Sans Expanded';
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
    src: url('/angular-handbook/fonts/ZalandoSansExpanded-VariableFont_wght.woff2') format('woff2-variations'),
        url('/angular-handbook/fonts/ZalandoSansExpanded-VariableFont_wght.woff2') format('woff2');
}

html {
    overscroll-behavior: none;
}

html, body {
    padding: 0;
    margin: 0;
    
    scroll-behavior: smooth;
}

body {
    border: 2px solid yellowgreen;
    margin: auto;
    height: 120vh;
}