@font-face {
    font-family: 'Zalando Sans Expanded';
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
    src: url('/angular-handbook/fonts/ZalandoSansExpanded.ttf');
}

@font-face {
    font-family: 'Zalando Sans';
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
    src: url('/angular-handbook/fonts/ZalandoSans.ttf');
}

@font-face {
    font-family: 'B612 Mono';
    font-style: normal;
    src: url('/angular-handbook/fonts/B612Mono-Regular.ttf');
}

html {
    overscroll-behavior: none;
}

html, body {
    padding: 0;
    margin: 0;
    
    scroll-behavior: smooth;
}

body {
    /* border: 2px solid yellowgreen; */
    margin: auto;
    height: 120vh;
}