@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

html {
    overscroll-behavior: none;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'B612', sans-serif;
}

body {
    margin: auto;
    min-height: 100vh;
    max-width: 1536px;
}